<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSPb0Kx2SMclVHLriXr_RoE9a4TiwS3Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>451240697870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudApp</string>
	<key>PROJECT_ID</key>
	<string>crudapp-a2f01</string>
	<key>STORAGE_BUCKET</key>
	<string>crudapp-a2f01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451240697870:ios:1de415056583fca7335c5f</string>
</dict>
</plist>